<!DOCTYPE html>
<html>
<head>
  <title>Guess the Number Game</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css')}}">
</head>
<body>
  <div id="thread"></div>
  <input type="number" name="guess" id="guess">
  <button id="send">Send Message</button>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
  <script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>
